<mat-card-header>
  <mat-card-title>
    {{ book.title }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ book.isbn }}
  </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <div>
    <span>Authors: </span>
    <span *ngFor="let author of book.authors; let i = index">{{ i > 0 ? ',' : ''}} {{author.name}}</span>
  </div>
  <div>
    <span>Categories: </span>
    <span *ngFor="let category of book.categories; let i = index">{{ i > 0 ? ',' : ''}} {{category}}</span>
  </div>
</mat-card-content>
