<mat-toolbar color="primary">

  <span class="title" i18n="site header|An introduction header for this sample">Boream</span>

  <nav>
    <li><a mat-button i18n="@@filmsLink" routerLink="/films">Pelis</a></li>
    <li><a mat-button i18n="@@booksLink" routerLink="/books">Libros</a></li>
    <li *ngIf="userService.user$ | async; else login">
      <button mat-button i18n="@@logoutLink" (click)="userService.logout()">Logout</button>
    </li>
    <ng-template #login>
      <li>
        <button mat-button i18n="@@loginLink" routerLink="/auth">Login</button>
      </li>
    </ng-template>
  </nav>
</mat-toolbar>
