<mat-card>
  <div *ngIf="userService.user$ | async; else anonymous">
    <mat-card-actions>
      <button mat-button *ngIf="!isEditing(); else info" color="primary" (click)="changeMode('EDIT')">Editar</button>
      <ng-template #info>
        <button mat-button (click)="changeMode('VIEW')">Info</button>
      </ng-template>
    </mat-card-actions>
    <app-book-info *ngIf="!isEditing(); else editing" [book]="book"></app-book-info>
    <ng-template #editing>
      <mat-card-content>
        <app-book-form [book]="book"></app-book-form>
      </mat-card-content>
    </ng-template>
  </div>
  <ng-template #anonymous>
    <app-book-info [book]="book"></app-book-info>
  </ng-template>
</mat-card>
